$mainColor: #f03468;
#addAddress {
    width: 100%;
    .header {
        background: #fff;
        border-bottom: 1px solid #ccc;
        position: relative;
        text-align: center;
        i {
            position: absolute;
            left: 10px;
            top: 12px;
        }
        p {
            font-size: 16px;
            line-height: 40px;
        }
    }
    .add-middle {
        width: 100%;
        background: #fff;
        margin-top: 20px;
        box-sizing: border-box;
        padding: 0 14px;
        .msg-area {
            border-bottom: 1px solid #eee;
            height: 40px;
            overflow: hidden;
            p {
                float: left;
                font-size: 12px;
                line-height: 40px;
                color: #333;
                width: 30%;
                text-align: left;
                span {
                    color: $mainColor;
                }
            }
            .diff {
                width: 84%;
            }
            .deAddress {
                float: left;
                border: 0;
                height: 40px;
            }
            .label-box {
                display: inline-block;
                width: 16px;
                height: 16px;
                background-color: #fff;
                border-radius: 50%;
                border: 1px solid #ccc;
                margin-top: 10px;
            }
            #checkedbox {
                opacity: 0;
                height: 0;
                width: 0;
            }
            #checkedbox:checked+.label-box {
                width: 6px;
                height: 6px;
                background-color: #fff;
                border: 6px solid $mainColor;
            }
        }
        .send-btn {
            width: 90%;
            border-color: $mainColor;
            background-color: $mainColor;
            color: #fff;
            font-size: 16px;
            margin-top: 20px;
            margin-left: 5%;
        }
    }
}