body {
    font-family: -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", STHeiti, "Microsoft Yahei", Tahoma, Simsun, sans-serif;
    font-size: 16px;
}

body::-webkit-scrollbar {
    width: 0;
    height: 0;
}

html {
    overflow-x: hidden;
    overflow-y: auto;
    font-size: 10px;
}

.ant-layout {
    background-color: #fff;
}

ul,
li {
    list-style: none;
}

input {
    outline: none;
}

img {
    display: block;
    border: 0;
}

html,
body,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

a {
    text-decoration: none;
}

.el-message {
    z-index: 9999;
}

.el-message-box {
    width: 86%;
}

#app,
.ant-layout,
.ant-layout-content {
    height: 100%;
    overflow: hidden;
    overflow-y: auto;
    background-color: #fff;
}

.ant-layout-footer {
    padding: 2rem;
    font-size: 1.6rem;
    text-align: center;
    background-color: #fff;
    border-top: 1px solid #ddd;
}

.ant-col-6 a.active {
    color: #f03468;
}