/* 
* @Author: Marte
* @Date:   2017-10-23 20:15:37
* @Last Modified by:   Marte
* @Last Modified time: 2017-10-23 20:46:04
*/
html{background:#fff;font-size: 10px;}
.header{box-sizing:border-box;overflow: hidden;padding-bottom:5px;}
.header div{float:left;width:25%;text-align:center;}
.header div a{color:#666;font-size:10px;text-decoration:none;padding:5px;}
.header div a .iconfont{display:inline-block;width:36px;height:36px;line-height:36px;font-size:20px;background:#eee;vertical-align:middle;border-radius:8px;color:orange;}
.header div a p{padding-top:5px;}
    
.banner img{width:100%;height:auto;}
.tuijian{
    padding-left:20px;margin-top:10px;font-size:1.4rem;
    .icon-fire{color:red;}
}



.header_icon{
    font-size: 2.5rem;
    width: 4rem;
}
.mod-public-header-title{
    font-size: 2rem;
    flex:1;
    text-align: center;
    height: 3.7rem;
    line-height:3.7rem;
}
.mod-public-header{
   display:flex;
}
.active_big_img img{
    width:100%;
    
}
.active_list{
    width:100%;
    /*background-color:#ededed;*/
    padding:1rem 0 0 1rem;
    overflow:hidden;
    
}
.active_list li{
    width:47%;
    margin:0 1rem 1rem 0;
    float:left;
    box-sizing:border-box;
    background-color:#fff ;
    padding:1rem;
}
.goods_img img{
    width:100%;
    height:15.2rem;
}
.goods_into{
    
    width:100%;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -wibkit-box-orient:vertical;
    font-size: 1.4rem;
    height:4rem;
    color: #000;
   
}
.price{
    font-size: 1.4rem;
    color: #f03468;
    font-weight: 700;
}
.marketprice{
    font-size: 1.2rem;
    color: grey;
    text-decoration: line-through;
    margin-left: 1rem;
   
}
.goods_price{
    text-align: left;
    margin:1rem ;
}
.buy_btn{
    display: inline-block;
    width:100%;
    background-color: #f03468;
     color:#fff;
     font-size:1.3rem;
     line-height:2.6rem;
     height:2.6rem;
}
